<main class="bg-primary-400 flex flex-row justify-center w-full">
  <div class="bg-primary-400 w-full max-w-[1440px] relative">
    <!-- Hero Section -->
    <app-movie-popular></app-movie-popular>

    <!-- Movie Tabs and Search Section -->
    <section class="px-[122px] pt-[32px] relative">
      <div class="flex items-center justify-between">
        <div class="flex space-x-[62px]">
          <app-tab-button
            *ngFor="let tabName of ['cartelera', 'populares']"
            [tabName]="tabName"
            [selectedTab]="selectedTab"
            (tabSelected)="setTab($event)"
          ></app-tab-button>
        </div>

        <div class="flex gap-2">
          <div class="relative">
            <input
              [(ngModel)]="searchQuery"
              class="w-[363px] h-[43px] bg-primary-300 rounded-[5px] text-primary-50 text-paragraph-medium font-medium pl-[19px] pr-[45px] outline-none"
              placeholder="Buscar por nombre de pelicula"
            />
            <img src="/assets/popular/Search.svg" class="w-7 h-7 absolute top-2 right-3 cursor-pointer" alt="Search" />
          </div>

          <button class="w-[108px] h-[42px] bg-secundary-400 rounded-[2.5px] flex items-center justify-center gap-2">
            <img src="/assets/popular/Filter.svg" class="w-6 h-6" alt="Filter" />
            <span class="text-paragraph-medium font-medium text-secundary-50">
              Filtrar
            </span>
          </button>
        </div>
      </div>

      <!-- Active Tab Indicator -->
      <div
        class="w-[100px] h-[5px] mt-[30px] bg-primary-50 ml-2"
        [style.marginLeft]="selectedTab === 'cartelera' ? '0' : '162px'">
      </div>
    </section>

    <section class="px-[122px] pt-[60px] pb-[122px] min-h-screen">
      <div class="grid grid-cols-4 gap-x-[69px] gap-y-[35px]">
        <app-movie-card
          *ngFor="let movie of movies"
          [movie]="movie"
        >
        </app-movie-card>
      </div>

      <!-- Loader de paginación, muestra cuando isLoading es true -->
      <div *ngIf="isLoading" class="flex justify-center py-5">
        <span class="loader"></span>
      </div>
    </section>
  </div>
</main>
