<div class="w-[246px] h-[378px] relative group cursor-pointer">
  <div class="relative w-[246px] h-[328px]">
    <div
      class="absolute w-full h-full bg-cover bg-center rounded-lg"
      [style.backgroundImage]="'url(' + movie.image + ')'"
    >
      <!-- Contenedor con el degradado y las estrellas -->
      <div class="absolute inset-0 opacity-0 rounded-md group-hover:opacity-100 bg-gradient-to-t from-black to-transparent transition-opacity duration-300">
        <!-- Contenedor de estrellas que solo se muestra al hacer hover -->
        <div class="absolute bottom-[14px] left-1/2 transform -translate-x-1/2 flex justify-center w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <img
            *ngFor="let star of stars; let i = index"
            class="w-[23px] h-[21px] mx-[5px] rounded-lg"
            [src]="i < roundedRating ? '/assets/movie-card/StarYellow.svg' : '/assets/movie-card/StarGray.svg'"
            alt="Star"
          />
        </div>
      </div>

    </div>
    <ng-template #regularCard>
      <img
        class="absolute w-full h-full object-cover"
        [src]="movie.image"
        [alt]="movie.title"
      />
    </ng-template>
  </div>
  <div class="w-full mt-2 text-center">
    <h3 class="text-paragraph-s-bold font-bold text-white">
      {{ movie.title }}
    </h3>
  </div>
</div>
